doctype html
html(lang='zh')
  head
    title 产品原型管理中心
    meta(charset='UTF-8')
    link(rel="shortcut icon",href="/favicon.ico")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/unicorn-login.css')
    script(type='text/javascript', src='/js/respond.min.js')
  body
    #container
      #logo
        img(src='/img/logo.png', alt='')
      #user
        .avatar
          .inner
          img(src='/img/demo/av1_1.jpg')
        .text
          h4
            | Hello,
            span.user_name
      #loginbox(style='height:245px;')
        form#registerform
          p 输入相关信息注册您的帐号。
          .input-group.input-sm
            span.input-group-addon
              i.fa.fa-user
            input#username.form-control(type='text', placeholder='用户名')
          .input-group
            span.input-group-addon(style='padding-right: 14px;')
              i.fa.fa-lock
            input#password.form-control(type='password', placeholder='密码')
          .input-group
            span.input-group-addon(style='padding-right: 14px;')
              i.fa.fa-lock
            input#password2.form-control(type='password', placeholder='再次输入密码')
          .form-actions.clearfix
            //
              <div class="pull-left">
              <a href="#registerform" class="flip-link to-register blue">Create new account</a>
              </div>
              <div class="pull-right">
              <a href="#recoverform" class="flip-link to-recover grey">Lost password?</a>
              </div>
            br
            input.btn.btn-block.btn-primary.btn-default(type='submit', value='注 册')
          //
            <div class="footer-login">
            <div class="pull-left text">
            Login with
            </div>
            <div class="pull-right btn-social">
            <a class="btn btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
            </div>
            </div>
        //
          <form id="recoverform" action="#">
          <p>Enter your e-mail address below and we will send you instructions how to recover a password.</p>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="text" placeholder="E-mail address" />
          </div>
          <div class="form-actions clearfix">
          <div class="pull-left">
          <a href="#loginform" class="grey flip-link to-login">Click to login</a>
          </div>
          <div class="pull-right">
          <a href="#registerform" class="blue flip-link to-register">Create new account</a>
          </div>
          <input type="submit" class="btn btn-block btn-inverse" value="Recover" />
          </div>
          </form>
          <form id="registerform" action="#">
          <p>Enter information required to register:</p>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control" type="text" placeholder="Enter Username" />
          </div>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" placeholder="Choose Password" />
          </div>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" placeholder="Confirm password" />
          </div>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="text" placeholder="Enter E-mail address" />
          </div>
          <div class="form-actions clearfix">
          <div class="pull-left">
          <a href="#loginform" class="grey flip-link to-login">Click to login</a>
          </div>
          <div class="pull-right">
          <a href="#recoverform" class="grey flip-link to-recover">Lost password?</a>
          </div>
          <input type="submit" class="btn btn-block btn-success" value="Register" />
          </div>
          </form>
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/jquery-ui.custom.min.js')
    script(src='/js/unicorn.login.js')
